{% block content %}
<div class="row">
    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
        <h1 style="text-align: center;">Agregar Cursos</h1>
        <div class="card">
            <div class=" card-body">
                <div class="form-group ">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <table>
                            {{form.as_table}}
                        </table>
                        <input type="submit" value="Agregar" class="form-control btn btn-block btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-8 col-lg-8 col-xl-8 col-sm-12">
        <h1>Listado de Cursos</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th class="centrado">#</th>
                        <th class="centrado">Nombre </th>
                        <th class="centrado">Profesor</th>
                        <th colspan="2" class="centrado">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for curso in cursos%}
                    <tr>
                        <td class="centrado">{{forloop.counter}}</td>
                        <td class="centrado">{{curso.nombre_curso}}</td>
                        <td class="centrado">{{curso.profesor}}</td>
                        <td class="centrado"><a href="{% url 'editarcurso' curso.id %}"
                                class="btn btn-block btn-sm btn-primary">Editar</a></td>
                        <td class="centrado"><a href="{% url 'eliminarcurso' curso.id %}"
                                class="btn btn-block btn-sm btn-danger btn_eliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}