{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/styles.css" %}'>
    <title>{% block title %}Alumnos{% endblock %}</title>
</head>

<body>
    {% block content %}
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
            <h1 style="text-align: center;">Agregar Alumnos</h1>
            <div class="card">
                <div class=" card-body">
                    <div class="form-group ">
                        <form action="/agregaralumno/" method="POST" class="was-validated" id="agregaralumno">
                            {% csrf_token %}
                            <input type="text" name="nombre" id="id_nombre" class="form-control"
                                placeholder="Nombre alumno" required maxlength="70" minlength="2">
                            <input type="text" name="apellido" id="id_apellido" class="form-control"
                                placeholder="Apellido" required maxlength="70" minlength="2">
                            <input type="email" name="email" class="form-control" placeholder="Email" required>

                            <input type="telefono" name="telefono" id="id_telefono" class="form-control"
                                placeholder="Telefono" maxlength="35" required>
                            <input type="submit" value="Agregar" class="form-control btn btn-block btn-success">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-lg-8 col-xl-8 col-sm-12">
            <h1>Listado de Alumnos</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th class="centrado">#</th>
                            <th class="centrado">Nombre </th>
                            <th class="centrado">Apellido</th>
                            <th class="centrado">Email</th>
                            <th class="centrado">Telefono</th>
                            <th colspan="2" class="centrado">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alumno in alumnos%}
                        <tr>
                            <td class="centrado">{{forloop.counter}}</td>
                            <td class="centrado">{{alumno.nombre}}</td>
                            <td class="centrado">{{alumno.apellido}}</td>
                            <td class="centrado">{{alumno.email}}</td>
                            <td class="centrado">{{alumno.telefono}}</td>
                            <td class="centrado"><a href="{% url 'editaralumno' alumno.id %}"
                                    class="btn btn-block btn-sm btn-primary">Editar</a></td>
                            <td class="centrado"><a href="{% url 'eliminaralumno' alumno.id %}"
                                    class="btn btn-block btn-sm btn-danger">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    {% endblock %}


    {% for alumno in alumnos %}
    {{alumno}}
    {% endfor %}
</body>

</html>