{% extends "base.html" %}
{% load custom_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/styles.css" %}'>
    <title>{%block title%} Listado de promedios {% endblock %}</title>
</head>

<body>
    {% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <input type="submit" value="Promedio de notas alumnos por curso" name="mostrarpromedio"
                class="btn btn-success btn-lg mt-1 ml-4" onclick="mostrar()" id="botonverde">
            <input type="submit" value="Alumnos con mas de 1 curso reprobado" name="mostrarpromedio"
                class="btn btn-danger btn-lg mt-1 ml-4" onclick="mostrar2()" id="botonrojo">
        </div>
    </div>
    <div id="row-promedio" style="display: none;">

        <p style="text-align:center;">
        <h5>Listado de promedio de alumnos por curso</h5>
        </p>
        <div class="row py-3">
            <div class="col-lg-4 notas_encabezado">
                <p style="text-align:center;">Nombre</p>
            </div>
            <div class="col-lg-4 notas_encabezado">
                <p style="text-align:center;">Curso</p>
            </div>
            <div class="col-lg-4 notas_encabezado">
                <p style="text-align:center;">Promedio</p>
            </div>
        </div>
        {% for query in queryset %}
        <div class="row py-3">
            {% for c,v in query.items %}
            <div class="col-lg-4 contenedor_notas">
                {% if v|to_float %}
                <p style="text-align:center;"> {{v|floatformat:1}} </p>
                {% else %}
                <p style="text-align:center;">{{v}}</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <br>
        <br>

        <p style="text-align:center;">
    </div>

    <div id="row-promedio2" style="display: none;">
        <p style="text-align:center;">
        <h5>Listado de alumnos con mas de un curso con promedio menor a 4.</h5>
        </p>
        <div class="row py-3">
            <div class="col-lg-4 notas_encabezado">
                <p style="text-align:center;">Nombre</p>
            </div>
            <div class="col-lg-4 notas_encabezado">
                <p style="text-align:center;">Curso</p>
            </div>
            <div class="col-lg-4 notas_encabezado">
                <p style="text-align:center;">Promedio</p>
            </div>
        </div>
        {% for query in queryset2 %}
        <div class="row  py-3">
            {% for c,v in query.items %}
            {% if c == 'cnt' %}
            <!-- continue -->
            {% else %}
            <div class="col-lg-4 contenedor_notas">
                {% if v|to_float %}
                <p style="text-align:center;">{{v|floatformat:1}}</p>
                {% else %}
                <p style="text-align:center;">{{v}}</p>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}

        </div>

        {% endfor %}

    </div>

    <script src='{% static "js/mostrarlistado.js" %}'></script>
    {% endblock content %}


</body>

</html>